* {
}

body {
    display: flex;
    flex-direction: column;
}

h4 {
    width: 50%;
}

.containter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side {
    width: 50%;
    height: 100%;
    /* background-color: lightblue; */
}

.top {
    display: flex;
    justify-content: space-around;
}

.button {
    width: 49%;
    white-space: normal;
}

.loading{
    text-align: center;
}