.top {
    display: flex;
    justify-content: center;
}

.container {
    padding: 35px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.scroll {
    margin-left: 50px;
}

.image-side {
    padding: 35px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    margin-left: 120px;
    margin-right: 120px;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.loading {
    text-align: center;
}
