<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            background-color: black;
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Settings</h1>
        <form>
            <label for="sl">Story Length:</label>
            <input type="text" id="sl" name="sl"><br>

            <label for="story">Story line:</label>
            <input type="text" id="story" name="story"><br>
            
            <label for="Perspective">Perspective</label>
            <input type="radio" id="first" name="per" value="First Person">
            <label for="first">First Person</label>
            <input type="radio" id="second" name="per" value="Second Person">
            <label for="second">Second Person</label><br>

            <label for="Genres">Choose all genres you want applied</label>
            <input type="checkbox" id="genre1" name="genre1" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre2" name="genre2" value="Adventure">
            <label for="vehicle1"> Adventure</label><br>
            <input type="checkbox" id="genre3" name="genre3" value="Horror">
            <label for="vehicle1"> Horror</label><br>
            <input type="checkbox" id="genre4" name="genre4" value="Romance">
            <label for="vehicle1"> Romance</label><br>
            <input type="checkbox" id="genre5" name="genre5" value="Drama">
            <label for="vehicle1"> Drama</label><br>
            <label for="genre6">Other:</label>
            <input type="text" id="genre6" name="Other"><br>
            

            <!-- More choices for genres
            <input type="checkbox" id="genre6" name="genre6" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre7" name="genre7" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre8" name="genre8" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre9" name="genre9" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre10" name="genre10" value="Action">
            <label for="vehicle1"> Action</label><br>
            <input type="checkbox" id="genre11" name="genre11" value="Action">
            <label for="vehicle1"> Action</label><br>
            -->
            
            <label for="genre6">What creature are you?</label>
            <input type="text" id="creature" name="creature"><br>
            
            <label for="genre6">What is your name?</label>
            <input type="text" id="name" name="name"><br>

        </form>
    </div>
</body>
</html>