<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AI GAME</title>
        <link href="{{ url_for('static', filename='styles/game.css') }}" rel="stylesheet" />

        <!-- Testing bootstrap code from CS 120-->
        <!-- Bootstrap CDN Code: (I removed the integrity/anonymous attriutes)-->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <div class="top">
            <div class="container">
                <h1 id="title">Chapter {{ chapter_num }}: {{ title }}</h1>
                <div class="scroll">
                    <h4>{{ body }}</h4>
                </div>
            </div>
            <section class="image-side">
                <div>
                    <img src="/static/image/image.jpg" alt="test image" height="400em" width="400em">
                </div>
            </section>
        </div>
        <div class="bottom">
            <form action="/game" method="post">
                <button type="button submit" class="btn btn-primary btn-lg button" name="choice-btn" value="{{ choice1 }}" onclick="loadingNotifier()">{{ choice1 }}</button>
                <button type="button submit" class="btn btn-primary btn-lg button" name="choice-btn" value="{{ choice2 }}" onclick="loadingNotifier()">{{ choice2 }}</button>
                <br>
                <button type="button submit" class="btn btn-primary btn-lg button" name="choice-btn" value="{{ choice3 }}" onclick="loadingNotifier()">{{ choice3 }}</button>
                <button type="button submit" class="btn btn-primary btn-lg button" name="choice-btn" value="{{ choice4 }}" onclick="loadingNotifier()">{{ choice4 }}</button>
            </form>
            <p id="loading" class="loading"></p>
            <!-- <br>
            <p id="output">{{ output }}</p> -->
        </div>
        <script src="/static/js/game.js"></script>
    </body>

</html>
