<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AI GAME</title>
        <link href="{{ url_for('static', filename='styles/game.css') }}" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <h1>Chapter {{ title_head }}: {{ title_desc }}</h1>
            <h4>{{ body }}</h4>
        </div>
        <section class="image-side">
            <div>
                <img src="/static/image/image.jpg" alt="test image" height="400em" width="400em">
            </div>
        </section>
    </body>

</html>
