<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AI GAME</title>
    <link href="{{ url_for('static', filename='styles/game.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>Chapter {{ title_head }}: {{ title_desc }}</h1>
        <h4>{{ body }}</h4>
        <form action="/refresh" method="post">
            <input type="button" name="choice1" class="refresh-btn" value="{{ choice1 }}" />
            <input type="button" name="choice2" class="refresh-btn" value="{{ choice2 }}" />
            <input type="button" name="choice3" class="refresh-btn" value="{{ choice3 }}" />
            <input type="button" name="choice4" class="refresh-btn" value="{{ choice4 }}" />
        </form>
    </div>
    <section class="image-side">
        <div>
            <h1>PLACEHOLDER</h1>
        </div>
    </section>
</body>

</html>
