<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AI Game</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styles/game.css') }}"
        />
    </head>
    <body>
        <main class="content">
            <section class="text">
                <div class="story"></div>
                <div class="options">
                    <div class="option"></div>
                    <div class="option"></div>
                </div>
            </section>
            <section class="image"></section>
        </main>
    </body>
</html>
