<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AI GAME</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/start.css') }}" />
</head>

<body>
    <form action="/begin" method="get">
        <div>
            <label for="story-length">Story Length</label>
            <input type="number" name="story-length" value="">
        </div>
        <div>
            <label for="theme">Theme</label>
            <input type="text" name="theme" value="">
        </div>
        <div>
            <label for="person-type">Person Type</label>
            <input type="text" name="person-type" value="">
        </div>
        <div>
            <label for="creature">Creature</label>
            <input type="text" name="creature" value="">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" value="">
        </div>
        <button type="submit" class="begin-btn">Begin</button>
    </form>
</body>

</html>
